{{- /* Prevent flash of wrong theme */ -}}
<script>
  (function() {
    const stored = localStorage.getItem('handbook-theme');
    const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    const theme = stored || (prefersDark ? 'dark' : 'light');
    if (theme === 'dark') {
      document.documentElement.classList.add('dark');
      document.body.classList.add('dark');
    }
  })();
</script>

{{- /* Google Fonts - Inter */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

{{- /* Consolidated CSS: tokens + main + medical-print */ -}}
{{- $tokens := resources.Get "css/tokens.css" -}}
{{- $mainCSS := resources.Get "css/main.css" -}}
{{- $printCSS := resources.Get "css/medical-print.css" -}}
{{- if and $tokens $mainCSS $printCSS }}
  {{- $bundle := slice $tokens $mainCSS $printCSS | resources.Concat "css/intracav.css" | resources.Minify -}}
  {{- if not site.Params.assets.disableFingerprinting }}
    {{- $bundle = $bundle | fingerprint }}
    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous">
  {{- else }}
    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}">
  {{- end }}
{{- else if and $tokens $mainCSS }}
  {{- $bundle := slice $tokens $mainCSS | resources.Concat "css/intracav.css" | resources.Minify -}}
  {{- if not site.Params.assets.disableFingerprinting }}
    {{- $bundle = $bundle | fingerprint }}
    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous">
  {{- else }}
    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}">
  {{- end }}
{{- end }}

{{- /* Search (global - loaded on all pages) */ -}}
{{- $searchJS := resources.Get "js/search.js" -}}
{{- if $searchJS }}
  {{- if not site.Params.assets.disableFingerprinting }}
    {{- $searchJS = $searchJS | fingerprint }}
    <script src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{- else }}
    <script src="{{ $searchJS.RelPermalink }}" defer></script>
  {{- end }}
{{- end }}

{{- /* ToC Scroll Spy */ -}}
{{- $tocJS := resources.Get "js/toc.js" -}}
{{- if $tocJS }}
  {{- if not site.Params.assets.disableFingerprinting }}
    {{- $tocJS = $tocJS | fingerprint }}
    <script src="{{ $tocJS.RelPermalink }}" integrity="{{ $tocJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{- else }}
    <script src="{{ $tocJS.RelPermalink }}" defer></script>
  {{- end }}
{{- end }}

{{- /* Theme Toggle JavaScript */ -}}
{{- $themeJS := resources.Get "js/theme-toggle.js" -}}
{{- if $themeJS }}
  {{- if not site.Params.assets.disableFingerprinting }}
    {{- $themeJS = $themeJS | fingerprint }}
    <script src="{{ $themeJS.RelPermalink }}" integrity="{{ $themeJS.Data.Integrity }}" crossorigin="anonymous"></script>
  {{- else }}
    <script src="{{ $themeJS.RelPermalink }}"></script>
  {{- end }}
{{- end }}

{{- /* Mobile Navigation JavaScript */ -}}
{{- $mobileNavJS := resources.Get "js/mobile-nav.js" -}}
{{- if $mobileNavJS }}
  {{- if not site.Params.assets.disableFingerprinting }}
    {{- $mobileNavJS = $mobileNavJS | fingerprint }}
    <script src="{{ $mobileNavJS.RelPermalink }}" integrity="{{ $mobileNavJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{- else }}
    <script src="{{ $mobileNavJS.RelPermalink }}" defer></script>
  {{- end }}
{{- end }}

{{- /* Admin CSS (conditional) */ -}}
{{- if eq .Section "admin" }}
{{- $adminCSS := resources.Get "css/admin.css" -}}
{{- if $adminCSS }}
  {{- if not site.Params.assets.disableFingerprinting }}
    {{- $adminCSS = $adminCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $adminCSS.RelPermalink }}" integrity="{{ $adminCSS.Data.Integrity }}" crossorigin="anonymous">
  {{- else }}
    <link rel="stylesheet" href="{{ $adminCSS.RelPermalink }}">
  {{- end }}
{{- end }}
{{- end }}
